<?xml version='1.0' encoding='UTF-8' ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />

        <property name="url" value="jdbc:mysql://#{systemEnvironment['DB_HOST']}:3306/#{systemEnvironment['DB_NAME']}?useSSL=false&amp;allowPublicKeyRetrieval=true" />
        <property name="username" value="#{systemEnvironment['DB_USER']}" />
        <property name="password" value="#{systemEnvironment['DB_PASS']}" />
    </bean>

</beans>